.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(45deg, #ea95f5bd, #95dcfac3);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.EnterSubpart, .SubmitButton {
  margin-top: 20px;
}

p {
  color: #101110;
  font-size: 15px;
}

a {
  color: #565dbb;
  font-size: 20px;
}

h1 {
  color: #101110;
  font-size: 80px;
}
h2 {
  color: #101110;
  font-size: 30px;
}
h3 {
  color: #101110;
  font-size: 20px;
}

input {
  padding: 10px;
  margin-left: 20px;
}

button {
  padding: 10px 20px;
  margin-left: 20px;
}

li {
  color: #101110;
  font-size: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
